<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/holdem.css">
  <link rel="stylesheet" href="/css/components/holdem-room-modal.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="hero-bg">
    <div class="content">
      <div class="channel-list">
        <%- include('partials/holdem/channel-list') %>
      </div>
    </div>
  </div>

  <%- include('partials/holdem/room-modal') %>
  <%- include('partials/footer') %>

  <script type="module" src="/js/modal.js"></script>
  <script type="module" src="/js/holdem.js"></script>
</body>
</html>
